form{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.formDiv{
  border: solid 1px lightgrey;
  border-radius: 5px;
  margin: 10px;
}

.imageList{
  columns: 250px 5;
  column-gap: 10px;
}

.imageListImg{
  width: 100%;
  margin-bottom: 10px;
}
.logoImg{
  width: 400px;
  height: 250px;
  margin: 10px;
}

.logoDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}